@media (min-width: 768px) {

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**@media (min-width: 768px) {

  .join-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .cards {
    position: sticky;
    top: 1rem;
  }

}**/

/* =========================
   DISCOVER - TABLET
========================= */
@media (min-width: 641px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }
}

/* =========================
   DISCOVER - DESKTOP
========================= */
@media (min-width: 1025px) {
  .discover-grid {
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }

  /* HOVER EFFECT (SOMENTE DESKTOP) */
  .discover-card img {
    transition: 0.3s ease;
  }

  .discover-card img:hover {
    transform: scale(1.05);
    filter: brightness(80%);
  }
}