/* ========================= */
/* 💻 DESKTOP */
/* ========================= */

@media (min-width: 768px) {

  /* NAV */
  nav {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
  }

  nav a {
    border: none;
    margin-left: 20px;
  }

  #menu-btn {
    display: none;
  }

  /* HERO */
  .hero {
    height: 70vh;
  }

  /* MENU GRID */
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* DETAILS */
  .details-top {
    flex-direction: row;
    align-items: center;
  }

  .details-top img {
    width: 400px;
  }

  /* FOOTER */
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    text-align: left;
  }

  /* HOVER */
  .card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
  }

  .item:hover {
    transform: scale(1.05);
    transition: 0.3s;
  }
}